@import "../../../utilities/variables.scss";

.logo-container {
  // background-color: white;
  // background-image: url('../../../assets/images/lina.jpeg');
  // background-size: auto 100%;
  // background-repeat: no-repeat;
  // background-position: right bottom;
  // border: 2px solid #fff;
  // border-radius: 5px;
  // -moz-box-shadow: inset 10px 10px 70px #c39ab5;
  // -webkit-box-shadow: inset 10px 10px 70px #c39ab5;
  // box-shadow: inset 10px 10px 70px #c39ab5;
  // z-index: 0;
  background-color: aqua;
  width: 500px;
  height:650px;
  position: absolute;
  top: 0;
  right: 10%;
  bottom: 0;
  left: auto;
  margin: auto;
}
.photo{
  z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    opacity: 0;
    animation: fadeIn 1s 1s;
    animation-fill-mode:both;

    will-change: transform;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-5.42698deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.header-background{
  width: 100%;
  height: 100%;
  background-color: #8566ff;
  background-image: linear-gradient(45deg, $primary-color,$alice-blue);
  padding: 2px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  box-shadow: 0 0 4rem rgba(133, 102, 255, .16);
}
.header-background-box {
  width: 100%;
  height: 100%;
  background-color: #111223;
}